/srs/srs.synctex.gz
/srs/srs.pdf
/srs/srs.log
/srs/srs.aux
/sar/sar.synctex.gz
/sar/sar.pdf
/sar/sar.log
/sar/sar.aux
/sar/sar.toc
/sdd/sdd.synctex.gz
/sdd/sdd.pdf
/sdd/sdd.log
/sdd/sdd.aux
/sdd/sdd.toc
/src/bin
/src/lib64
/src/lib
/src/include
/src/pyvenv.cfg
/src/Pipfile
/src/Pipfile.lock
/src/.nicegui